h1{
    margin-top: 1em !important;
    margin: auto;
	color: black;
	text-align: center;
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

h3{
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    margin: auto;
	color: black;
	text-align: center;
}

#navbar{
    display: none; 
}

#texto{
    margin-top: 5em;
    margin-bottom: 3em;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body {
    background: url("cinza.jpg");   
    transition:all 0.3s ease;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* e agora a regra de ouro que fará a imagem ocupar todo o viewport */
    background-size: 100% 100%;
}

#texto{
    margin-top: 5%;
    margin-bottom: 10%;
}

#botoes{       
    
    opacity: 0.7;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

#loginBtn:hover{
	
    box-shadow: 
    3px 3px rgb(63, 63, 63);
    opacity:1;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
}

#cadastroBtn:hover{
    box-shadow: 
    3px 3px rgb(63, 63, 63);
    opacity:1;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
}


form-group{
	margin-top: 5%;
    margin-bottom: 10%;
}

#botoes{
    margin: auto;
}

#sobreMim{
   margin: auto;
   color: rgb(170, 170, 170);
   margin-top: 5%;
   margin-bottom: 10%;
}

#sobreMim:hover{
    color: rgb(100, 100, 100);
   
 }

 #barraForca{
     margin-left: 5%;
     margin-right: 55%;    
 }

 small{
    color: red;
    font:italic 12px/30px Georgia, serif;
    
 }

  
  @keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 10px;}
    50% {margin-left: 0;}
    75% {margin-left: -10px;}
    100% {margin-left: 0;}
  }
 

 @media screen and (max-width: 992px) {
    h1 {
      font-size:3em;
    }
  }

 
  /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity:0;
    transform: translateY(-50px);
    transition:.5s ease all;
}

.dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity:1;
    transform: translateY(0px);
    transition:.5s ease all;
}


#botaoEnviarEmail {
    background:url('send.png');
    position: fixed !important;
    bottom:10px;
    right:10px;
    z-index: 1;
}

#botaoEnviarEmail:hover{
    opacity:1;
    -webkit-transform: scale(1.6);
        -ms-transform: scale(1.6);
        transform: scale(1.5);
        transition:.5s ease all;
}


    
.page-item{
    margin-top: 5%;

}

#listinha{
    width : 650px;
    margin:auto;
    margin-bottom: 5%;
}

#caixasEmail{  
    margin:auto;
    margin-top: 5%;
    text-align: center;
}


#botaoDeletarMensagem{
    position: absolute;
    bottom:10px;
    right:10px;
    z-index: 999;
}
