h1{
    margin: auto;
	color:gray;
	text-align: center;
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

#texto{
    margin-top: 5em;
    margin-bottom: 3em;
    color: azure;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body {
    background: url("carbono3.png");   
    margin-top: 5em;       
    transition:all 0.3s ease;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* e agora a regra de ouro que fará a imagem ocupar todo o viewport */
    background-size: 100% 100%;
}

#texto{
    margin-top: 5%;
    margin-bottom: 10%;
}

button{
	margin-left: 10px;
    margin-right: 10px;
	margin-bottom : 15px;
}

#botoes{       
    
    opacity: 0.7;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

#loginBtn:hover{
	
    box-shadow: 
    3px 3px rgb(63, 63, 63);
    opacity:1;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
}

#cadastroBtn:hover{
    box-shadow: 
    3px 3px rgb(63, 63, 63);
    opacity:1;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
}


form-group{
	margin-top: 5%;
    margin-bottom: 10%;
}

#botoes{
    margin: auto;
}

#sobreMim{
   margin: auto;
   color: rgb(170, 170, 170);
   margin-top: 5%;
   margin-bottom: 10%;
}

#sobreMim:hover{
    color: rgb(100, 100, 100);
   
 }

 #barraForca{
     margin-left: 5%;
     margin-right: 55%;    
 }

 small{
    color: red;
    font:italic 12px/30px Georgia, serif;
    
 }

  
  @keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 10px;}
    50% {margin-left: 0;}
    75% {margin-left: -10px;}
    100% {margin-left: 0;}
  }
 

 @media screen and (max-width: 992px) {
    h1 {
      font-size:3em;
    }
  }

 
  /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

