#meioDaPag {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


#minhaLinha {
    width: 200px; /* Valor da Largura do elemento */
}

#myJumbo {
  margin-top :2%;
  
}